header {
    padding-block: 32px;

    font: var(--text-md);

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
  display: flex;
  gap: 32px;
}

#profile > div {
    max-width: 384px;
}

#profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}


#info {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 270px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (min-width: 670px) and (max-width: 960px ) {
    #profile > div {
        max-width: 284px;
    }

    

    #info {
        width: 120px;
    }
}

@media (max-width: 669px) {
    #profile img {
        width: 100px;
        height: 100px;
    }

    #profile {
        flex-wrap: wrap;
    }
    
}

