main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
    margin: auto;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (min-width: 670px) and (max-width: 960px) {
    main img {
        max-width: 200px;
        max-height: 200px;
    }
}

@media (min-width: 380px) and (max-width: 669px) {
    main img {
        max-width: 150px;
        max-height: 150px;
    }
}